kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: dfp-kind
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30080
        hostPort: 8000
        listenAddress: "0.0.0.0"
        protocol: TCP
      - containerPort: 30090
        hostPort: 9000
        listenAddress: "0.0.0.0"
        protocol: TCP
      - containerPort: 30500
        hostPort: 5000
        listenAddress: "0.0.0.0"
        protocol: TCP
      - containerPort: 30379
        hostPort: 6379
        listenAddress: "0.0.0.0"
        protocol: TCP
