<manifest package="com.dfp.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="DFP Main" android:allowBackup="false" android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
